*.zip
*.sh
*.txt
*.s
*.b
*.bin
/backup/
*.o
.git*
temp
*t2b *h2b *b2t *dec addu subu multu dec addiu sll ssum sim
t2b multu dec addiu sll ssum printFloat b2t
serial*
*.py
sim
simulator_*.c *dmp.c
*.ppm
*.out
qk*
old*











